
header {
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid var(--grayish-blue);
    align-items: center;
    margin: 0 4rem;
}


header ul li{
    display: inline;
    margin-left: 1.5rem;
    color: var(--dark-grayish-blue);
}

header ul li a {
    color: var(--dark-grayish-blue);
}

.cartAvatar{
    margin-left: auto;
    display: flex;
    align-items: center;
}

#avatar-button {
    margin-left: 2rem;
    height: 50px;
    cursor: pointer;
}

#cart-button {
    cursor: pointer;
}