.container {
    display: flex;
    justify-content: center;
    gap: 10%;
    /* background-color: #f4f4f4; */
    margin-top: 5rem;

}


/* Left Photos */
.photos {
    display: flex;
    width: 30%;
    flex-direction: column;
}


.main_photo {
    max-width: 100%;
    border-radius: 1rem;
}


/* Carrousel Photos */

.photos_carrousel {
    margin-top: 1rem;
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.photos_carrousel img {
    cursor: pointer;
    width: 5vw;
    border: 2px solid white;
    border-radius: 0.5rem;
}
.photos_carrousel img:hover {
    border: 2px solid var(--orange);
    opacity:  0.4;
    transition: border 0.7s;
    
}




/* Description and Add to cart */

.product_info {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.product_info h3 {
    color: var(--dark-grayish-blue);
}

.product_description {
    color: var(--dark-grayish-blue);
}

#product_price {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;

}

#product_price > #price {
    font-weight: 700;
    font-size: 2rem;
}
#product_price > #discount {
    padding: 3px 6px;
    font-weight: 600;
    border-radius: 15%;
    color: white;
    background-color: var(--black);
}

#original_price {
    text-decoration: line-through;
    font-weight: 600;
    color: var(--dark-grayish-blue);
}

#add_cart {
    display: flex;
    gap: 1rem;
    background-color: var(--orange);
    padding: 20px 40px;
    border-radius: 0.5rem;
    color: var(--black);
    font-weight: 600;

}

#add_cart img{
    filter: brightness(0);
    max-height: 100%;
    
}

.controls {
    display: flex;
    margin: 2rem 0;
    justify-content: space-between;
}



#control_quantity {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    padding: 10px 40px;
    background-color: var(--light-grayish-blue);

}

#control_quantity span {
    font-weight: 700;
}

#control_quantity img {
    cursor: pointer;
}


@media (max-width: 999px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .photos {
        width: 100%;
    }
    .photos img {
        border-radius: 0;

    }

    .photos_carrousel {
        display: none;
    }

    .product_info {
        margin-top: 2rem;
        width: 90%;
    }

  

    .product_description, h3,p {
        margin: 0;
    }

    #product_price {
        display: flex;
    }

    .original_price {
        display: inline-block;
    }

    .controls {
        display: flex;
        flex-direction: column;
        gap:1rem;
    }
    .controls #add_cart {
        justify-content: center;
    }
}